{% extends 'dashboard.html' %}

{% block content %}
<div class="h-dvh flex justify-center items-center">
    <div class="max-w-3xl mt-[120px] md:mt-0 mx-auto p-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-3xl font-semibold text-center text-blue-600 mb-6">Invia una Email</h1>

        <!-- Feedback per il risultato dell'invio -->
        {% if feedback_message %}
        <div class="mb-4 {{ feedback_class }} text-center">
            <p class="font-semibold">{{ feedback_message }}</p>
        </div>
        {% endif %}

        <!-- Form per inviare email -->
        <form method="POST" onsubmit="tinymce.triggerSave()">
            {{ form.hidden_tag() }}
            <!-- Destinatario -->
            <div class="mb-5">
                <label for="recipient_email" class="block text-lg font-medium text-gray-700">Destinatario:</label>
                <input
                    class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400"
                    type="text" name="recipient_email" id="recipient_email" placeholder="Inserisci email" required>
            </div>

            <!-- Oggetto -->
            <div class="mb-5">
                <label for="subject" class="block text-lg font-medium text-gray-700">Oggetto:</label>
                <input
                    class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400"
                    type="text" name="subject" id="subject" required>
            </div>

            <!-- Corpo con TinyMCE -->
            <div class="mb-5">
                <label for="body" class="block text-lg font-medium text-gray-700">Corpo del messaggio:</label>
                <textarea
                    class="w-full h-40 px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400"
                    name="body" id="body"></textarea>
            </div>

            <!-- Bottone per inviare -->
            <button type="submit"
                class="w-full px-4 py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition duration-200">
                Invia
            </button>
        </form>

    </div>
</div>

<script>
    // Funzione per aggiungere l'email selezionata al campo del destinatario
    function addEmailToRecipient() {
        var email = document.getElementById("email_dropdown").value;
        if (email) {
            var recipientInput = document.getElementById("recipient_email");
            var currentValue = recipientInput.value;
            if (currentValue) {
                recipientInput.value = currentValue + ", " + email;
            } else {
                recipientInput.value = email;
            }
        }
    }

</script>
{% endblock %}